.products-section {
  width: 1240px;
  min-height: 918px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 60px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products-title {
  width: 1240px;
  color: #28a745;
  font-size: 48px;
  font-weight: 800;
  text-align: left;
  margin-bottom: 40px;
}

.products-grid {
  width: 1240px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  gap: 20px;
}

.product-card {
  width: 295px;
  height: 400px;
  background-color: #f0f0f0;
  border-radius: 20px;
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.product-image {
  width: 100%;
  height: 261px;
  border-radius: 30px;
  margin-bottom: 15px;
  overflow: hidden;
}

.product-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}


.product-price {
  width: 100%;
  font-weight: bold;
  font-size: 20px;
  color: #000;
  text-align: left;
  margin-bottom: 5px;
}

.products-highlight {
  margin-bottom: 20px;
  font-size: 16px;
  color: #333;
}

.product-name {
  width: 100%;
  color: #000;
  font-size: 16px;
  text-align: left;
  margin-bottom: 15px;
}

.add-button {
  width: 154px;
  height: 35px;
  background-color: #28a745;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s;
}

.add-button:hover {
  background-color: #00e660;
}

/* адаптив */
@media (max-width: 1200px) {
  .products-grid {
    justify-content: center;
    gap: 25px;
  }
}

@media (max-width: 900px) {
  .products-grid {
    flex-direction: column;
    align-items: center;
  }

  .product-card {
    width: 90%;
    height: auto;
  }

  .add-button {
    align-self: center;
  }
}
